#!/bin/bash

. /usr/lib/upshot/common_include.sh
DEFAULT_RUBY_VERSION="{{ ruby_version }}"
MDATA_RUBY_VERSION=`mdata_get_wrapper ruby_version`
cat << EOF
{
  "ruby_version": "${MDATA_RUBY_VERSION:-$DEFAULT_RUBY_VERSION}"
}
EOF
