#!/bin/bash

USER="{{ upshot_user }}"
BASEDIR="{{ upshot_home }}"
. ${BASEDIR}/.bashrc

cd $BASEDIR/rails_app/current
for yaml in $(ls {{ upshot_ruby_sidekiq_file }})
do
  RAILS_ENV="production" bundle exec sidekiq -C ${yaml}
done
